ctrl/panoptic_deeplab_transforms/__pycache__/*
cvl_action-detection_dataset_CAD_may_2022/__pycache__/*
mapillaryscripts/random_exp/MVD_plot.png
mapillaryscripts/__pycache__/*
ctrl/model/padnet/__pycache__/*
ctrl.zip
ctrl/pxl_cyc_asso/__pycache__/*
ctrl/dacs/__pycache__/*
ctrl/dacs/data/__pycache__/*
ctrl/dacs/model/__pycache__/*
ctrl/dacs/utils/__pycache__/*
ctrl/dacs/utils/sync_batchnorm/__pycache__/*
random-exp/__pycache__/*
ctrl/dacs_old/data/__pycache__/*
ctrl/dacs_old/utils/__pycache__/*
ctrl/dacs_old/model/__pycache__/*
temp_dir_remove_later/*
temp/*
checkpoints/*
ctrl/resultInstanceLevelSemanticLabeling.json
evaluationResults/*
synthiascripts/__pycache__/*
lsf.*
cityscapesscripts/evaluation/__pycache__/*
matches.json
cityscapesscripts/evaluation/__pycache__/*.pyc
cityscapesscripts/evaluation/__pycache__/evalPanopticSemanticLabeling.cpython-37.pyc
ctrl/config_panop/__pycache__/*
cityscapesscripts/__pycache__/*
cityscapesscripts/evaluation/__pycache__/*
cityscapesscripts/helpers/__pycache__/*

ctrl/transforms_panop/__pycache__/*
ctrl/dataset/panoptic_deeplab_sampler/__pycache__/*
ctrl/solver_panop/__pycache__/*

ctrl/model_panop/__pycache__/*
ctrl/model_panop/backbone/__pycache__/*
ctrl/model_panop/decoder/__pycache__/*
ctrl/model_panop/loss/__pycache__/*

__pycache__/*
ctrl/eval_panop/__pycache__/*
ctrl/model_panop/post_processing/__pycache__/*
ctrl/utils/panoptic_deeplab/__pycache__/*


ctrl/isl/__pycache__/*
__pycache__/*
ctrl/modelV2/__pycache__/*
model_dada/__pycache__/*
ctrl/__pycache__/*
ctrl/yml-config-ctrl/__pycache__/*
ctrl/dataset/__pycache__/*
ctrl/model/__pycache__/*
ctrl/modelV2/__pycache_/*
ctrl/phase_25-04-2021/*
ctrl/utils/__pycache__/*
phase_25-04-2021/*

!**/__pycache__
venv/*
.idea/*
README.md
release_notes/*
mti/models/pretrained_models/*
mti/data/__pycache__/*
mti/evaluation/__pycache__/*
mti/losses/__pycache__/*
mti/models/__pycache__/*
mti/train/__pycache__/*
mti/utils/__pycache__/*
mti/__pycache__/*
advent/__pycache__/
advent/dataset/__pycache__/*
advent/domain_adaptation/__pycache__/*
advent/model/__pycache__/*
advent/utils/__pycache__/*
dada/__pycache__/*
dada/dataset/__pycache__/*
dada/domain_adaptation/__pycache__/*
dada/model/__pycache__/*
dada/pretrained_models/*
dada/scripts/__pycache__/*
dada/utils/__pycache__/*
dada/without_da/__pycache__/*
mti/train/dada/__pycache__/*
advent/scripts/__pycache__/*
mti/eval/__pycache__/*
mti/cfg_exp/__pycache__/*
gasda/data/__pycache__/*
gasda/evaluation/__pycache__/*
gasda/utils/__pycache__/*
mti/eval_ss/singletask/depth/__pycache__/*
mti/argparser/multitask_baseline/__pycache__/*
mti/cfg_exp/multitask_baseline/__pycache__/*
mti/train/multitask_baseline/__pycache__/*
mti/eval_ss/depth/__pycache__/*
mti/eval_ss/semseg/__pycache__/*
mti/argparser/singletask_baseline/__pycache__/*
mti/cfg_exp/singletask_baseline/__pycache__/*
mti/dataset_ss/__pycache__/*
mti/train/singletask_baseline/__pycache__/*
mti/train/task_affinity/__pycache__/*
models/*
mti/eval_ss/semseg_depth/dada/__pycache__/*
mti/train/dandap/__pycache__/train_dandap.cpython-37.pyc
mti/train/dandap/__pycache__/*
mti/train/padnet_ss/__pycache__/*
mti/train/exp_oct_13/__pycache__/*
dada/model_ss/__pycache__/*
mti/train/danda_visualization/__pycache__/*
mti/train/cityscapes_to_cityscapes/__pycache__/*
rand_exp/FocalLoss/__pycache__/focal_loss_for_multiclass.cpython-37.pyc
rand_exp/FocalLoss/__pycache__/*
mti/dataset_ss/kitti/semseg/__pycache__/*
mti/dataset_ss/vkitti/__pycache__/*
